body {
    margin-top: 300px;
}

#backtop {
    background: var(--main);
    font-size: 17px;
    position: fixed;
    width: 70px;
    height: 100px;
    text-align: center;
    bottom: 50px; right: 50px;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    transition: 0.2s;
    z-index: 1000;
}
#toparrow {
    transform: rotate(-90deg);
    font-size: 60px;
    margin-top: 5px;
}
#backtop:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

#titlesec {
    width: 1000px;
    background: linear-gradient(rgba(51, 8, 93, 1), rgba(135, 56, 187, 0.5)), url("https://www.cmsk12.org/cms/lib/NC50000755/Centricity/Domain/135/IMG_2334-cropped.jpg");
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    height: 400px;
    background-position: center;
}
#title {
    font-size: 40px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.text {
    width: 1000px;
    margin-top: 50px;
    font-size: 16px;
    text-align: center;
}

#scrolling {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.scrollbutton {
    margin-left: 5px;
    margin-right: 5px;
    color: var(--second);
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    transition: 0.2s;
}
.scrollbutton:hover {
    background: var(--second);
    color: white;
    cursor: pointer;
}

#clubsec1, #clubsec2, #clubsec3, #clubsec4, #clubsec5, #clubsec6 {
    margin-top: 50px;
    flex-direction: column;
}
.allclubs {
    display: flex;
}

.header {
    font-size: 35px;
    color: rgb(115, 152, 255);
    font-weight: 700;
    width: 1000px;
}
#clubtext {
    width: 1000px;
    margin-top: -20px;
    text-align: left;
    font-weight: 600;
    font-size: 18px;
}

.row {
    display: flex;
    margin-top: 0;
    flex-direction: column;
}
#club {
    margin-top: 50px;
    width: 300px;
    margin-left: 25px;
    margin-right: 25px;
    background: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 30px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}
#clubname {
    color: var(--second);
    font-size: 25px;
    font-weight: 700;
}
#clubdesc {
    font-size: 13px;
    margin-top: -15px;
}
#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#buttonlink, #buttonlink1 {
    width: 75px;
    height: 75px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.0);/*change to .1*/
    background-blend-mode: darken;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 100%;
    transition: 0.1s;
    pointer-events: none; /*remove*/
}

#buttonlink {
    background: linear-gradient(rgba(195, 195, 195, 0.5), rgba(195, 195, 195, 0.5)), url(./icons/internet.png);
    filter: opacity(60%);
    background-repeat: no-repeat;
    background-position: center;
}
#buttonlink1 {
    background: linear-gradient(rgba(195, 195, 195, 0.5), rgba(195, 195, 195, 0.5)), url(./icons/video.png);
    filter: opacity(60%);
    background-repeat: no-repeat;
    background-position: center;

}

#buttonlink:hover, #buttonlink1:hover {
    transform: scale(1.1);
}


@media only screen and (max-width: 1024px) {
    #titlesec {
        width: 90%;
        height: 1000px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #title {
        font-size: 70px;
        width: 100%;
        text-align: center;
    }
    .section {
        width: 90%;
    }
    .text {
        font-size: 20px;
    }
    #scrolling {
        flex-direction: column;
        width: 90%;
        height: 1200px;
    }
    .scrollbutton {
        font-size: 35px;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 10px;
    }

    #backtop {
        width: 150px;
        height: 200px;
    }
    #toparrow {
        font-size: 100px;
        margin-top: 20px;
    }

    #clubsec1, #clubsec2, #clubsec3, #clubsec4, #clubsec5, #clubsec6 {
        width: 90%;
    }
    .allclubs {
        flex-direction: column;
    }
    .header {
        text-align: center;
        font-size: 70px;
    }
    #clubtext {
        font-size: 30px;
        text-align: center;
        width: 90%;
    }
    #club {
        width: 80%;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    #clubname {
        font-size: 50px;
    }
    #clubdesc {
        font-size: 20px;
    }
    #advisor {
        font-size: 20px;
    }
    #buttonlink, #buttonlink1 {
        width: 200px;
        height: 200px;
        background-size: 70% 70%;
        display: none;
    }

}