body {
    margin-top: 300px;
}


.gradientimage {
    background: linear-gradient(rgba(51, 8, 93, 0), rgba(135, 56, 187, 0.0)), url("https://www.cmsk12.org/cms/lib/NC50000755/Centricity/Domain/135/Snapshot-cropped.jpg");
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-repeat: none;
    background-position: center;
    width: 350px;
    height: 350px;
    border-radius: 30px;
    transition: 0.3s;
}

.sectioninfo {
    width: 600px;
    margin-left: 50px;
}

.header {
    font-size: 35px;
    font-weight: 600;
    color: var(--second);
    text-transform: uppercase;
    line-height: 40px;
}
#header {
    font-weight: 700;
}
.text {
    margin-top: -10px;
    font-size: 16px;
}

#sec1 {
    flex-direction: column;
    margin-top: 50px;
}

#head1 {
    margin-top: 100px;
    color: var(--second);
    font-weight: 700;
    font-size: 40px;
    z-index: 2;
}
#text1 {
    margin-top: -30px;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 950px;
    z-index: 1;
    text-align: justify;
}


.link {
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    background: rgb(255, 255, 255);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    width: 200px;
    height: 200px;
    transition: 0.2s;
}
.link:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.link:hover #iconstext {
    color: var(--second);
}

#icons {
    width: 75px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    filter: hue-rotate(100deg);
}
#iconstext {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    color: var(--main);
    transition: 0.2s;
}

#buttons {
    margin-top: 75px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    background: var(--fourth);
    width: 175px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 0.2s;
}
#buttons:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

#head2 {
    text-align: center;
    line-height: 60px;
    color: white;
}

#sec3 {
    width: 1200px;
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    margin-top: 150px;
    background: linear-gradient(rgba(51, 8, 93, 1), rgba(135, 56, 187, 0.5)), url("https://www.cmsk12.org/cms/lib/NC50000755/Centricity/Domain/135/IMG_2144-cropped.jpg");
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    
}

#head4 {
    font-size: 20px;
    color: var(--fourth);
    margin-top: 100px;
    text-decoration: none;
    text-transform: capitalize;
    border-bottom: 3px solid transparent;
    transition: 0.2s;
}
#head4:hover {
    border-bottom: 3px solid var(--fourth);
}

@media only screen and (max-width: 1024px) {
    .section, #sec1, #sec2, #sec3 {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        text-align: center;
    }
    .sectioninfo {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .text, #text1 {
        margin: 0;
        padding: 0;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-size: 25px;
    }
    .header, #head1 {
        font-size: 60px;
        line-height: 70px;
    }

    #gradientimage {
        width: 90%;
        height: 600px;
    }

    #sec2 {
        margin-top: 100px;
    }
    .link, #link {
        margin-top: 50px;
        width: 500px;
        height: 500px;
    }
    #icons {
        width: 150px;
        height: auto;
    }
    #iconstext {
        font-size: 40px;
        margin-top: 50px;
    }

    #buttons {
        width: 500px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
    }
    #sec3 {
        height: 1000px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 90%;
    }
    #head2 {
        font-size: 60px;
        line-height: 75px;
    }
    #head4 {
        font-size: 35px;
        width: 90%;
    }

}

